.content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 600px;
/*  padding-right: 100px;*/
  animation : content-transition .5s ease-in 0s forwards;
  opacity: 0;
/*  transition : 2s linear 4s forwards;*/
}

@keyframes content-transition{
  0%{
    opacity:0;
  }
  100%{
    opacity: 1;
  }
}

.about{
  /* padding-left: 128px; */
  /* width:600px; */
  /* background-color:blue; */

}

.bold{
  font-weight: 900;
}

.school-title{
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color:rgba(255, 255, 255, .7);
  font-weight: 900;
}


.logo{
  max-width: 20px;
  margin-right: 8px;
  border-radius: 2px;
}

.content{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  height:auto;
  /* padding-right:150px;
  margin-right: 100px; */
}

/*.qualifications > .content-description{
}*/

.content-title{
  padding-right: 80px;
  font-weight:900;
  font-size: 4vmin;
  color: PaleVioletRed;
}

.content-description{
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  color:rgba(255, 255, 255, .6);
/*  border-left:1px solid rgba(255, 255, 255, .2);*/
  height:auto;
  width:500px;
  text-align: left;
  font-size: 11pt;
}

.interests > .content-description{
  flex-direction: row;
}


/*.qualifications > .content-description{
  height : 180px;
}*/

.skills{
  /* padding-left:134px; */
}

.skills > .content-description{
  display:flex;
  flex-direction: column;
}


.skills > .content-description > p{
  display:flex;
  flex-direction: row;
}

.skills > .content-description > p>img{
  height:50px;
  margin-right:15px;
}



