.portfolio-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 600px;
  animation : portfolio-transition .5s linear forwards;
  opacity: 0;
  font-family: 'Roboto', sans-serif;
}

.portfolio{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 70px;
  color:rgba(255, 255, 255, .7);
}

.link{
  text-decoration: none;
  color:rgba(255, 255, 255, .7);
  cursor:pointer;
  transition: .2s ease-in;
}

.project-title{
  font-weight: 300;
  font-size:15pt;
}

.tech-stack{
  font-weight: 300;
  font-size:9pt;
  font-style: italic;
  word-spacing: 5px;
  text-align: left;
}

.project-links{
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.link-logo-gh{
  height:25px;
  margin-right: 15px;

}

.pink-transition{
  transition: .3s;
}

.pink-transition:hover{
  color: PaleVioletRed;
  transition: .3s;
}

.link-logo-popup{
  height:22px;
  margin-top:2px;
}

.portfolio-item{
  width:600px;
  height:200px;
  display: flex;
  justify-content: space-between;
  margin-bottom:40px;
}

.portfolio-description{
  margin-top: 25px;
  width:380px;
  height:150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.portfolio-description-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height:150px;

}

.portfolio-description-content-top{
  text-align: left;
}


.hidden-text{
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  font-weight: 300;
  color:rgba(255, 255, 255, .7);
  position:absolute;
  display: inline-block;
  width:280px;
  text-align: left;
  margin-top:50px;
}

@keyframes slideUp{
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, -45px);
  }
}

@keyframes slideDown{
  0% {
    transform: translate(0px, -45px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes portfolio-transition{
  0%{
    opacity:0;
  }
  100%{
    opacity: 1;
  }
}

.thumbnail{
  height:200px;
  border-radius: 5px;
  position:absolute;
  transition : .5s ease-out;
}

.thumbnail:hover{
  transform: scale(1.02,1.02);
  transition: .5s ease-out;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}