.content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  min-width: 600px;
  padding-right: 80px;
  animation : content-transition .5s ease-in forwards;
  opacity: 0;
/*  transition : 2s linear 4s forwards;*/
}

@keyframes content-transition{
  0%{
    opacity:0;
  }
  100%{
    opacity: 100%;
  }
}

.about{
  /* padding-left: 128px; */
  /* width:600px; */
  /* background-color:blue; */

}

.bold{
  font-weight: 900;
}

.school-title{
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color:rgba(255, 255, 255, .7);
  font-weight: 900;
}


.logo{
  max-width: 20px;
  margin-right: 8px;
  border-radius: 2px;
}

.content{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  /* padding-right:150px;
  margin-right: 100px; */
}

.qualifications{
  /* margin-left: 7px; */
}


.content-title{
  padding-right: 40px;
  font-weight:900;
  font-size: 4vmin;
  color: PaleVioletRed;
}

.content-description{
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  color:rgba(255, 255, 255, .6);
  border-left:1px solid rgba(255, 255, 255, .2);
  width: 500px;
  height:145px;
  margin-top : 8px;
  padding-left: 40px;
  text-align: left;
  font-size: 11pt;
}

.interests > .content-description{
  flex-direction: row;
}

.description-left{
  margin-right: 70px;
}

.qualifications > .content-description{
  height : 180px;
}

.skills{
  /* padding-left:134px; */
}


.skills > .content-description{
  height : 350px;
}

.interests{
  padding-left: 76px;
}

.interests > .content-description{
  height : 150px;
}
